footer {
    padding: 2rem;
    text-align: center;
    color: var(--link-color);
}

footer a {
    text-decoration: none;
}

.link {
    margin: 0 14px;
    color: inherit;
    font-weight: 700;
    letter-spacing: 2px;
    transition: color .8s;
}

.link:hover {
    color: var(--text-color);
}

footer p {
    margin: 1rem 0;
    font-size: .75rem;
    font-weight: lighter;
}

.footer__social {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* Make it responsive */
@media screen and (max-width: 502px) {

    .footer {
        padding: 1.5rem;
    }

    .footer__links {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .footer .footer__social {
        gap: 3rem;
    }
}