@import url('./_variables.css');

@keyframes bg-transition {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 100%;
    }
}

.header {
    width: 100%;
    padding: 100px 0 300px;
    position: relative;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
    animation: bg-transition 10s ease-in-out infinite alternate;
}


.header__content {
    width: 100%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}

.header__channels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

.header__channels img {
    height: 100%;
}

.header__title span {
    display: block;
    font-size: 2rem;
    font-weight: lighter;
}

.header__title {
    text-align: center;
    font-size: 3rem;
}


.divider {
    width: 70%;
    max-width: 700px;
    height: 5px;
    background: var(--divider-bg-color);
}

.offer p {
    font-size: 1.25rem;
}

.offer .price {
    color: inherit;
    font-size: 2.5rem;
    font-weight: bold;
}

.offer .price span {
    font-size: 1rem;
    font-weight: lighter;
}


.header__sign-link,
button.subscribe {
    padding: 1rem 2.5rem;
    color: var(--text-color);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 4px;
    border: none;
    border-radius: 2rem;
    background: var(--btn-bg-color-gradient);
    outline: 3px solid transparent;
    transition: background 1s, outline 1s, transform 1s;
    background-size: 250%;
}

.header__sign-link {
    animation: wiggle 2.2s linear 1s infinite;
}

.header__sign-link:hover,
button.subscribe:hover {
    background-color: transparent;
    background-position: 100%;
    outline: 2px solid var(--secondary-color);
    transform: scale(1.05);
}

@keyframes wiggle {

    0%,
    10% {
        transform: rotate(0);
    }

    15% {
        transform: rotate(-15deg);
    }

    20% {
        transform: rotate(10deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(10deg);
    }

    35% {
        transform: rotate(-10deg);
    }

    40%,
    100% {
        transform: rotate(0);
    }
}

.detail {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}

.header::after {
    content: '';
    width: 100%;
    height: 250px;
    display: block;
    background: linear-gradient(0deg, var(--primary-color), transparent);
    position: absolute;
    bottom: 0;
}