@import url('./_variables.css');

.navbar {
    width: 100%;
    height: 100%;
    padding: .75rem 1rem;
    background: var(--nav-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}


.navbar__logo {
    max-width: 10rem;
}

.navbar__logo-image {
    width: 100%;
}

.navbar__links {
    margin-right: 2rem;
}

.navbar__link {
    padding: .5rem 1.625rem;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
    border: none;
}

.login {
    background: transparent;
}

.sign {
    background: var(--tertiary-color);
    border-radius: 2rem;
    transition: background 1s,
        color 1s;
}

.sign:hover {
    color: var(--primary-color);
    background: var(--text-color);
}


/* Make it responsive */
@media screen and (max-width: 502px) {
    .navbar {
        padding: 2rem;
        text-align: center;
        flex-direction: column;
        gap: 2rem;
    }

    .navbar img {
        width: 70%;
    }
}