@import url('./_variables.css');

.navbar {
    width: 100%;
    height: 100%;
    padding: .75rem 1rem;
    background: var(--nav-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}


.navbar__logo {
    max-width: 10rem;
}

.navbar__logo-image {
    width: 100%;
}

.navbar__links {margin-right: 2rem;}

.navbar__link {
    padding: .5rem 1.625rem;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--text-color);
    border: none;
}

.login {background: transparent;}

.sign {
    background: var(--tertiary-color);
    border-radius: 2rem;
    text-decoration: none;
    transition: background 1s,
                color 1s;
}

.sign:hover {
    color: var(--primary-color);
    background: var(--text-color);
}



