@import url('./_variables.css');

section.login__form {
    width: 100%;
    height: 80vh;
    padding: 1.5rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/background-movies-series.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form__container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
    background: var(--form-bg-color);
}

.form__container h2 {
    margin-bottom: 2rem;
    letter-spacing: 2px;
}

form.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.login__field {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    background: var(--form-field-bg-color);
    border: var(--form-field-border);
    border-radius: .5rem;
}

.login__field::placeholder {
    font-size: inherit;
    color: var(--form-field-placeholder);
}

.login__field:invalid {
    border-color: var(--form-field-error);
}

.login__actions {
    margin-top: 2.5rem;
}

.link {
    margin-left: 1rem;
    text-decoration: none;
    color: var(--link-color)
}